@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

/* index */



h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-weight: 100;
	color: #db6951;
}

h2 {
	color: #1B5633;
}

.maintext {
	float: left;
	top: 200px;
	position: relative;
}

.amberimage {
	float: left;
}

button {
	width: 150px;
	height: 50px;
	background-color: #db6951; 
	border-style: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
	font-weight: 500;
	color: #ffffff;
}

button:hover {
	background-color: #f2c961;
}

.header {
	width: 1000px;
	margin: 0px auto;
}


.logo {
	height:120px;
	width: 120px;
	margin: 0 auto;
	position: relative;
	top: -20px;
	z-index: 2;
}


.background2 {
	background-image: url(images/2ndbackground.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 450px;
	top: 750px;
	position: absolute;
}

.trending {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 100;
	color: #f2c961;
	background-color: #db6951;
	height: 40px;
	width: 250px;
	margin: 25px 0px 0px 0px;
	padding: 20px;
	text-align:right;
	
	
}

.circlegroup {
	width: 1200px;
	margin: 0 auto;
}

.circle1 {
	background-color: #f2c961;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	margin: 50px 90px 45px 90px; 
	float: left;
	z-index: 1;
}

.circle1:hover {
	background-color: #db6951;
}


#braceletmain {
	top: -20px;
	left: 10px;
	position: relative;
	width: 70px;
	float: left;
	z-index: 2;
}


#earringsmain {
	top: -40px;
	left: -10px;
	position: relative;
	width: 70px;
	float: left;
	z-index: 2;
}
	
#necklacemain {
	top: -100px;
	left: -60px;
	position: relative;
	width: 70px;
	float: left;
	z-index: 2;
}
	
	
.background3 {
	background-color: #f2c961;
	width: 100%;
	height: 100px;
	top: 1200px;
	position: absolute;
	padding:20px;
}	

.contactfooter {
background-color: white;
	width: 100%;
	height: 75px;
	top: 900px;
	position: absolute;	
}

.mensfooter { 
background-color: white;
	width: 100%;
	height: 75px;
	top: 1900px;
	position: absolute;
}

.womensfooter {
background-color: white;
	width: 100%;
	height: 75px;
	top: 1700px;
	position: absolute;

}

.mainfooter {
	background-color: white;
	width: 100%;
	height: 75px;
	top: 1700px;
	position: absolute;

	
}


#socialmedia {
	float: right;
	padding: 15px;
}

#message {
	height: 150px;
}

.input {
	border-style: none;
	width: 500px;
	height: 40px;
	background-color: #db6951;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 200;
	color: white;
	font-size: 18px;
}


#contact_form {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 200;
	color: #db6951;
}
	


#submit_button {
	border-style: none;
	width: 505px;
	background: #f2c961;
	height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 300;
	font-size: 18px;
	color: white;
}

#contact {
	margin: 0 auto;
	width: 100%;
}

#contactform {
	float: left;
	padding: 20px;
	
}

#contactinfo {
	float: left;
	background-color: #F2F2F2;
	width: 500px;
	height: 100%;
	padding: 30px;
	margin: 55px 20px 0px 20px;
	
	
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 500;
	font-size: 18px;
	color: #db6951;
}

body {
	font-family:  "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	font-weight: 200;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*Women's*/

.womensheadertext {
	text-align:right;
	top: 300px;
	position:relative;
	padding: 20px;
	width: 400px;
	height: 50px;
	color: #f2c961;
	font-size:35px;
	font-weight:100;
	background-color: #db6951;
	
}

.womensheader {
	background-image:url(images/tablewithjewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	top: 50px;
	position: absolute;
	
	
}

.titlerings {
	height: 75px;
	width: 100%;
	top: 480px;
	padding: 1px 0px 0px 0px;
	background-color: #f2c961;
	text-align: center;
	background-size: cover;
	
}

.titlebracelets {
	height: 75px;
	width: 100%;
	float: left;
	padding: 1px 0px 0px 0px;
	background-color: #f2c961;
	text-align: center;
	background-size: cover;
}


.titleearrings {
	height: 75px;
	width: 100%;
	float: left;
	padding: 1px 0px 0px 0px;
	background-color: #f2c961;
	text-align: center;
	background-size: cover;
}



.womenproducts {
	height: 100%;
	width: 100%;
	top: 475px;
	position: relative;
	color: #db6951;
	text-align:center;
}

.wproduct {
	
	height: 200px;
	width: 200px;
	background-color:white;
	padding: 15px;	
	margin: 20px;
	text-align: center;
	display:inline-block;
	
}

.wproduct:hover {
background: #f2c961;	
}

/* Men's*/

.titlerings {
	height: 75px;
	width: 100%;
	top: 480px;
	padding: 1px 0px 0px 0px;
	background-color: #f2c961;
	text-align: center;
	background-size: cover;
	
}

.titlebracelets {
	height: 75px;
	width: 100%;
	float: left;
	padding: 1px 0px 0px 0px;
	background-color: #f2c961;
	text-align: center;
	background-size: cover;
}

.mensheader {
background-image:url(images/menjewelry.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
	top: 50px;
	position: absolute;
}
.mensheadertext {
	
	text-align:right;
	top: 300px;
	position:relative;
	padding: 20px;
	width: 400px;
	height: 50px;
	color:  #db6951;
	font-size:35px;
	font-weight:100;
	background-color: #31362b;
}

/* Nav bar*/

#cssmenu {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 30px;
  text-transform: lowercase;
  text-align: left;
  letter-spacing: 2px;
  z-index: 3;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #f2c961;
  z-index: 3;
  

  
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #dad9c0;
  z-index: 3;
 
 border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #db6951;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #ffffff;
  font-size:11px;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #db6951;
  color: #fff;
 
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 95% -85%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #db6951;
    background-position: 95% 185%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}


@media (max-width: 1180px) {

.circlegroup {
	width: 100%;
	margin: 0 auto;
}

.circle1 {
	background-color: #f2c961;
	height: 150px;
	width: 150px;
	border-radius: 100px;
	margin: 50px 90px 45px 90px; 
	float: left;
	z-index: 1;
}

.circle1:hover {
	background-color: #db6951;
}


#braceletmain {
	top: -20px;
	left: 10px;
	position: relative;
	width: 100%;
	float: left;
	z-index: 2;
}


#earringsmain {
	top: -40px;
	left: -10px;
	position: relative;
	width: 100%;
	float: left;
	z-index: 2;
}
	
#necklacemain {
	top: -100px;
	left: -60px;
	position: relative;
	width: 100%;
	float: left;
	z-index: 2;
}
	
}